Repository BinaryStudioAcademy/bsa-2018-hedonist, pull requests merged in 2018-09, with the labels that each got.

#486 hotfix/search state must be synced with query string
  frontend/src/components/navbar/SearchCity.vue
  frontend/src/components/place/SearchPlace.vue
  frontend/src/store/modules/place/actions.js
  frontend/src/store/modules/search/actions.js
  frontend/src/store/modules/search/mutations.js
  frontend/src/store/modules/search/state.js
Labels: frontend, hotfix

#484 Feature/search infinite scroll
  frontend/src/components/place/SearchPlace.vue
  frontend/src/store/modules/place/actions.js
  frontend/src/store/modules/place/mutations.js
  frontend/src/store/modules/search/mutations.js
  package.json
  yarn.lock
Labels: enhancement, frontend

#492 fix filters on search page
  frontend/src/components/place/SearchFilterPlace.vue
  frontend/src/components/place/SearchPlace.vue
Labels: bug

#490 Hotfix/add place to search
  app/Actions/Presenters/City/CityPresenter.php
  frontend/src/components/navbar/NavbarSearchPanel.vue
  frontend/src/components/navbar/SearchCity.vue
  frontend/src/components/navbar/SearchPlaceCategory.vue
  frontend/src/store/modules/search/actions.js
  frontend/src/store/modules/search/mutations.js
Labels: bug, hotfix

#491 add localization for empty result on search page
  frontend/src/components/place/SearchPlace.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: frontend

#503 add category to sync of search state with query string
  frontend/src/store/modules/search/actions.js
Labels: bug, frontend

#494 search-by-category: fix
  frontend/src/components/navbar/NavbarSearchPanel.vue
Labels: bug

#504 fix/place_reviews: minor refactor const values in action and criteria
  app/Actions/Review/GetReviewCollectionAction.php
  app/Repositories/Review/Criterias/DefaultSortCriteria.php
Labels: backend, enhancement

#507 Fix/same taste can be added multiple times
  app/Actions/UserTaste/AddTasteAction.php
  app/Http/Controllers/Api/User/UserTaste/TasteController.php
  app/Http/Requests/UserTaste/AddTasteHttpRequest.php
  app/Repositories/User/Criterias/GetTasteNamesCriteria.php
  app/Repositories/User/TasteRepository.php
  app/Repositories/User/TasteRepositoryInterface.php
  database/migrations/2018_09_03_064907_make_name_field_unique_in_tastes_table.php
  frontend/src/components/taste/TasteList.vue
Labels: backend, bug, frontend

#502 Fix/places are empty without location access
  frontend/src/components/navbar/SearchCity.vue
  frontend/src/components/place/SearchPlace.vue
  frontend/src/store/modules/search/actions.js
  frontend/src/store/modules/search/mutations.js
  frontend/src/store/modules/search/state.js
Labels: bug, frontend

#511 hotfix/responsive map
  frontend/src/pages/ListPage.vue
Labels: hotfix

#509 fix/category_filter_is_not_applied_when_the_location_field_is_empty
  frontend/src/components/navbar/NavbarSearchPanel.vue
Labels: bug, frontend

#510 Hotfix/place_reviews: fix sort in popular reviews preloader
  frontend/src/store/modules/review/getters.js
Labels: bug, frontend, hotfix

#513 Fix list page streched photo
  frontend/src/components/userList/ListHeader.vue
Labels: bug, frontend

#517 Hotfix/fix adding review photo
  app/Actions/Review/SaveReviewPhotoRequest.php
  app/Http/Requests/Review/ReviewPhotoRequest.php
  database/migrations/2018_09_03_112326_change_description_column_in_review_photos_table.php
Labels: bug, hotfix

#521 Fix response code 0
  app/Http/Controllers/Api/User/UserList/UserListController.php
Labels: backend, bug

#512 search by place name - to detail place page
  app/Actions/Place/GetPlaceCollection/GetPlaceCollectionPresenter.php
  frontend/src/components/navbar/NavbarSearchPanel.vue
  frontend/src/components/navbar/SearchCity.vue
  frontend/src/components/navbar/SearchPlaceCategory.vue
  frontend/src/pages/PlacePage.vue
  frontend/src/store/modules/search/actions.js
  frontend/src/store/modules/search/mutations.js
  frontend/src/store/modules/search/state.js
Labels: enhancement, frontend

#479 [Place page] Add schedule and open/close tag.
  app/Actions/Place/GetPlaceCollection/GetPlaceCollectionPresenter.php
  app/Actions/Place/GetPlaceItem/GetPlaceItemPresenter.php
  app/Actions/Presenters/Place/PlaceWorkTimePresenter.php
  app/Repositories/Place/PlaceRepository.php
  frontend/src/components/place/PlaceSidebarInfo.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: backend, enhancement, frontend

#475 Feature/users profile
  frontend/src/components/users/GeneralInfo.vue
  frontend/src/components/users/ListsContainer.vue
  frontend/src/components/users/ListsContainerItem.vue
  frontend/src/components/users/ReviewsContainer.vue
  frontend/src/components/users/ReviewsContainerItem.vue
  frontend/src/pages/OtherUserPage.vue
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/store/modules/place/getters.js
  frontend/src/store/modules/users/actions.js
  frontend/src/store/modules/users/getters.js
  frontend/src/store/modules/users/index.js
  frontend/src/store/modules/users/mutations.js
  frontend/src/store/modules/users/state.js
Labels: frontend

#520 Add maxLength validation. Change description sql field to mediumText.
  database/migrations/2018_09_03_122011_change_description_field_place_tr_table.php
  frontend/src/components/place/AddPlace.vue
Labels: bug

#523 Feature/review search preloader
  frontend/src/components/misc/SmallPreloader.vue
  frontend/src/components/review/ReviewList.vue
Labels: frontend

#529 Add search initial page preloader
  frontend/src/components/place/SearchPlace.vue
  frontend/src/store/modules/search/actions.js
Labels: enhancement, frontend

#472 allow to create a list without a photo
  app/Actions/UserList/SaveUserListAction.php
  app/Http/Requests/UserList/UserListAddRequest.php
  app/Http/Requests/UserList/UserListUpdateRequest.php
  database/migrations/2018_09_03_215854_make_imgurl_field_nullable_in_user_lists_table.php
  frontend/src/components/userList/Form.vue
  frontend/src/components/userList/ListHeader.vue
  frontend/src/components/userList/ListPreview.vue
  frontend/src/components/userList/UserListAdd.vue
  frontend/src/pages/UserListAddUpdatePage.vue
  frontend/src/store/modules/userList/actions.js
Labels: backend, enhancement, frontend

#483 Bug/recover password email
  app/Actions/Auth/RecoverPasswordAction.php
  app/Listeners/PasswordResetedEventListener.php
  app/Mail/ResetPasswordLinkSent.php
  app/Providers/EventServiceProvider.php
  config/queue.php
  database/migrations/2018_08_31_135736_create_failed_jobs_table.php
  frontend/src/components/auth/Recover.vue
  frontend/src/components/auth/Reset.vue
  resources/views/emails/resetPassword.blade.php
Labels: backend, bug, frontend

#527 show-features-mark-absent: implemented
  frontend/src/components/place/PlaceSidebarInfo.vue
Labels: frontend

#528 Feature/checkin to visited
  frontend/src/components/navbar/TopNavbar.vue
  frontend/src/components/place/SearchFilterPlace.vue
Labels: frontend

#531 Fix code
  frontend/src/components/place/SearchPlace.vue
  frontend/src/store/modules/search/actions.js
  frontend/src/store/modules/search/mutations.js
  frontend/src/store/modules/search/state.js
Labels: frontend

#533 Place preview: remove like and dislike buttons in last review
  frontend/src/components/place/PlacePreview.vue
  frontend/src/components/review/PlacePreviewReviewItem.vue
Labels: frontend

#535 fix [add list page] The search by name is not working
  frontend/src/components/userList/SearchPlaces.vue
Labels: bug, frontend

#536 Fix/place page sidebar.
  frontend/src/components/place/PlaceSidebarInfo.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: hotfix

#530 Current location radius smaller
  app/Entities/Place/Location.php
  app/Repositories/Place/Criterias/GetPlaceByLocationCriteria.php
  tests/Feature/Api/Place/PlaceControllerTest.php
Labels: backend, enhancement

#539 Fix 'getAll is not a function'
  frontend/src/components/place/SearchPlace.vue
Labels: bug

#524 Hotfix/fix city error on add place page
  frontend/src/components/navbar/SearchCity.vue
  frontend/src/components/place/AddPlace.vue
  frontend/src/services/location/locationService.js
  frontend/src/services/map/mapSettingsService.js
Labels: bug, hotfix

#519 Hotfix/place_search_filters: fix db error
  app/Actions/Presenters/Review/ReviewPresenter.php
  app/Entities/Review/Scopes/ReviewRelationScope.php
  app/Repositories/Review/Criterias/SortCriteria.php
Labels: backend, bug, hotfix

#534 change max rating to 5
  app/Entities/Place/PlaceRating.php
  database/factories/PlaceRatingFactory.php
  database/seeds/PlaceRatingTableSeeder.php
  frontend/src/components/place/PlaceRating.vue
  frontend/src/components/place/PlaceRatingModal.vue
  tests/Feature/Api/Place/PlaceRatingTest.php
Labels: enhancement

#537 Fix/add review photo to slider
  frontend/src/components/place/PlacePhotoList.vue
  frontend/src/components/place/PlaceTopInfo.vue
Labels: bug

#538 [Add place] Preloader and asterisk.
  frontend/src/components/place/AddPlace.vue
  frontend/src/components/place/PlaceSidebarInfo.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: bug

#543 place-social-link-text-overflows: fix
  frontend/src/components/place/PlaceSidebarInfo.vue
Labels: bug, frontend

#544 Fix place preview height
  frontend/src/components/place/PlacePreview.vue
  frontend/src/components/place/PlaceRating.vue
  frontend/src/components/place/SearchPlace.vue
  frontend/src/components/review/PlacePreviewReviewItem.vue
Labels: frontend

#545 Feature/change max rating and new ui
  frontend/src/components/misc/Smiley.vue
  frontend/src/components/place/PlaceRatingModal.vue
Labels: frontend

#546 Fix/place_reviews: add PopularSortCriteria. Minor action refactoring
  app/Actions/Review/GetReviewCollectionAction.php
  app/Repositories/Review/Criterias/PopularSortCriteria.php
  app/Repositories/Review/Criterias/SortCriteria.php
Labels: backend, enhancement

#547 Place's worktime seeder.
  database/seeds/DatabaseSeeder.php
  database/seeds/PlaceWorktimeSeeder.php
Labels: backend, enhancement

#548 taste-duplicate-entry: fix
  database/factories/UserTasteFactory.php
Labels: backend, bug

#549 Change city's placeholder.
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: frontend

#550 Fix/top_rated_filter: change TOP_RATING from 8 to 4 after changing max possible rating to 5
  app/Repositories/Place/Criterias/TopRatedCriteria.php
  frontend/src/components/place/SearchFilterPlace.vue
Labels: backend, bug, frontend

#551 Zip label localization correction.
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: hotfix

#553 Feature/filter by tags
  app/Actions/Place/GetPlaceCollectionByFilters/GetPlaceCollectionByFiltersAction.php
  app/Actions/Place/GetPlaceCollectionByFilters/GetPlaceCollectionByFiltersRequest.php
  app/Http/Controllers/Api/Place/PlaceController.php
  app/Repositories/Place/Criterias/GetPlaceByTagCriteria.php
  frontend/src/components/place/SearchPlace.vue
  frontend/src/store/modules/category/actions.js
  frontend/src/store/modules/place/actions.js
  frontend/src/store/modules/search/actions.js
  frontend/src/store/modules/search/mutations.js
  frontend/src/store/modules/search/state.js
Labels: backend, enhancement, frontend

#518 Feature: real time review adding
  app/Actions/Review/CreateReviewAction.php
  app/Events/ReviewAddEvent.php
  composer.json
  composer.lock
  config/app.php
  frontend/src/components/review/ReviewList.vue
  frontend/src/main.js
  frontend/src/services/common/httpService.js
  package.json
  resources/views/index.blade.php
  routes/channels.php
  tests/Feature/Api/Review/ReviewApiTest.php
  yarn.lock
Labels: backend, enhancement, frontend

#552 Fix recovering password
  app/Actions/Auth/RecoverPasswordAction.php
  app/Entities/User/User.php
  app/Events/Auth/PasswordResetedEvent.php
  app/Listeners/PasswordResetedEventListener.php
  app/Mail/ResetPasswordLinkSent.php
  app/Providers/EventServiceProvider.php
  tests/Feature/Api/Auth/ResetPasswordTest.php
Labels: backend

#562 Add review transition
  frontend/src/components/review/ReviewList.vue
  frontend/src/components/review/ReviewListElement.vue
Labels: enhancement, frontend

#554 Feature/add places recommendations
  app/Actions/Place/GetRecommendationPlaceCollection/GetRecommendationPlaceCollectionAction.php
  app/Actions/Place/GetRecommendationPlaceCollection/GetRecommendationPlaceCollectionRequest.php
  app/Http/Controllers/Api/Place/PlaceController.php
  frontend/src/components/place/PlaceSidebarInfo.vue
  frontend/src/store/modules/place/actions.js
  routes/api.php
Labels: backend, enhancement, frontend

#556 Feature/follow users backend
  app/Actions/Presenters/User/UserPresenter.php
  app/Actions/User/Follows/FollowUserAction.php
  app/Actions/User/Follows/FollowUserRequest.php
  app/Actions/User/Follows/GetFollowedUsersAction.php
  app/Actions/User/Follows/GetFollowedUsersRequest.php
  app/Actions/User/Follows/GetFollowedUsersResponse.php
  app/Actions/User/Follows/GetFollowersAction.php
  app/Actions/User/Follows/GetFollowersRequest.php
  app/Actions/User/Follows/GetFollowersResponse.php
  app/Actions/User/Follows/UnfollowUserAction.php
  app/Actions/User/Follows/UnfollowUserRequest.php
  app/Entities/User/User.php
  app/Events/Follows/UserFollowed.php
  app/Exceptions/User/FollowYourselfException.php
  app/Http/Controllers/Api/User/UserFollowsController.php
  app/Repositories/User/UserRepository.php
  app/Repositories/User/UserRepositoryInterface.php
  database/migrations/2018_09_03_184439_create_follows_table.php
  database/seeds/DatabaseSeeder.php
  database/seeds/UserFollowsSeeder.php
  routes/api.php
  tests/Feature/Api/UserFollows/UserFollowsTest.php
Labels: backend, enhancement

#557 [tastes page] The tastes are not removed when clicked on
  frontend/src/components/taste/TasteList.vue
Labels: bug, frontend

#559 [search page] Pagination amount smaller
  app/Repositories/Place/Criterias/PlacePaginationCriteria.php
Labels: backend, bug

#561 Feature/places recommended filter
  app/Actions/Place/GetPlaceCollectionByFilters/GetPlaceCollectionByFiltersAction.php
  app/Actions/Place/GetPlaceCollectionByFilters/GetPlaceCollectionByFiltersRequest.php
  app/Entities/Place/Place.php
  app/Http/Controllers/Api/Place/PlaceController.php
  app/Http/Requests/Place/PlaceSearchRequest.php
  app/Repositories/Place/Criterias/RecommendedCriteria.php
  frontend/src/components/place/SearchFilterPlace.vue
  frontend/src/store/modules/place/actions.js
  frontend/src/store/modules/search/actions.js
  frontend/src/store/modules/search/state.js
Labels: backend, enhancement, frontend

#563 Bug: review photo real time adding
  app/Actions/Review/CreateReviewAction.php
  app/Actions/Review/SaveReviewPhotoAction.php
  app/Events/Review/ReviewAddEvent.php
  app/Events/Review/ReviewPhotoAddEvent.php
  frontend/src/components/review/ReviewList.vue
Labels: backend, bug, frontend

#564 Fix map update after location change
  frontend/src/components/navbar/NavbarSearchPanel.vue
Labels: bug, frontend

#566 Feature/show other user page
  frontend/src/components/review/PlacePreviewReviewItem.vue
  frontend/src/components/review/ReviewList.vue
  frontend/src/components/review/ReviewListElement.vue
  frontend/src/router/index.js
Labels: enhancement, frontend

#568 [Search page] Opened filter.
  app/Actions/Place/GetPlaceCollectionByFilters/GetPlaceCollectionByFiltersAction.php
  app/Actions/Place/GetPlaceCollectionByFilters/GetPlaceCollectionByFiltersRequest.php
  app/Http/Controllers/Api/Place/PlaceController.php
  app/Repositories/Place/Criterias/OpenedCriteria.php
  frontend/src/components/place/PlaceSidebarInfo.vue
  frontend/src/components/place/SearchFilterPlace.vue
  frontend/src/store/modules/place/actions.js
  frontend/src/store/modules/search/actions.js
  frontend/src/store/modules/search/state.js
Labels: enhancement

#569 feature/add-places-recommendations fix mistakes
  frontend/src/components/place/PlaceSidebarInfo.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
  frontend/src/store/modules/place/actions.js
  routes/api.php
Labels: bug

#570 Fix/place tags show before search
  frontend/src/components/navbar/NavbarSearchPanel.vue
  frontend/src/store/modules/category/actions.js
  frontend/src/store/modules/category/mutations.js
  frontend/src/store/modules/category/state.js
  frontend/src/store/modules/search/actions.js
Labels: bug, frontend

#571 сhange the geolocation radius to the custom radius option
  app/Actions/Place/GetPlaceCollectionForAutoComplete/GetPlaceCollectionForAutoCompleteAction.php
  app/Actions/Place/GetPlaceCollectionForAutoComplete/GetPlaceCollectionForAutoCompleteRequest.php
  app/Http/Controllers/Api/Place/PlaceController.php
  frontend/src/components/navbar/SearchPlaceCategory.vue
  frontend/src/store/modules/search/actions.js
Labels: bug

#573 [proposal] add debug-bar for dev environment "barryvdh/laravel-debugbar"
  composer.json
Labels: backend, enhancement

#572 [update list] location unwanted redirect and cropping title
  frontend/src/components/navbar/SearchCity.vue
  frontend/src/components/userList/SearchPlaces.vue
  frontend/src/store/modules/search/actions.js
Labels: bug, frontend

#574 default user avatar on search place page
  frontend/src/components/review/PlacePreviewReviewItem.vue
Labels: bug

#575 Fix/add place zip starts "0"
  app/Actions/Place/AddPlace/AddPlaceRequest.php
  app/Actions/Place/AddPlace/AddPlaceResponse.php
  app/Actions/Place/UpdatePlace/UpdatePlaceRequest.php
  app/Actions/Place/UpdatePlace/UpdatePlaceResponse.php
  app/Http/Requests/Place/ValidateAddPlaceRequest.php
  app/Http/Requests/Place/ValidateUpdatePlaceRequest.php
  database/factories/PlaceFactory.php
  database/migrations/2018_08_03_054359_create_places_table.php
  tests/Feature/Api/Place/PlaceControllerTest.php
Labels: backend, bug

#577 Fix history map markers
  frontend/src/components/history/HistoryMap.vue
Labels: bug, frontend

#578 [Place page] Market tip smaller.
  frontend/src/App.vue
  frontend/src/components/place/PlaceMapMarker.vue
  frontend/src/services/map/markerGenerator.js
  frontend/src/services/map/markerManager.js
  frontend/src/services/map/markerService.js
  frontend/src/styles/common.scss
Labels: enhancement

#580 Feature/special features slider
  frontend/src/components/place/PlaceSidebarInfo.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: enhancement, frontend

#532 search-map: zoom to the city
  frontend/src/components/place/SearchPlace.vue
Labels: frontend

#582 userlist-picture-too-big: fixed
  frontend/src/components/userList/ListHeader.vue
Labels: bug, frontend

#583 Feature/other user ui
  frontend/src/components/users/GeneralInfo.vue
  frontend/src/components/users/ListsContainerItem.vue
  frontend/src/components/users/ReviewsContainer.vue
  frontend/src/components/users/ReviewsContainerItem.vue
  public/assets/no-image-available.jpg
Labels: frontend

#585 Hotfix/fix search on page add my list
  app/Actions/Place/GetPlaceCollection/GetPlaceCollectionPresenter.php
  app/Actions/Place/GetPlaceCollectionForAutoComplete/GetPlaceCollectionForAutoCompleteRequest.php
  app/Http/Requests/Place/PlaceSearchRequest.php
  frontend/src/components/userList/SearchPlaces.vue
Labels: bug, hotfix

#586 Fix/remove review recomend
  frontend/src/components/place/PlacePreview.vue
  frontend/src/components/place/PlaceSidebarInfo.vue
Labels: frontend

#588 Hotfix/review photos not displaying
  frontend/src/components/review/ReviewList.vue
  frontend/src/components/review/ReviewListElement.vue
Labels: bug, hotfix

#589 Correct style.
  frontend/src/components/userList/SearchPlaces.vue
Labels: frontend

#590 Correct style.
  frontend/src/components/taste/TasteList.vue
Labels: frontend

#565 Fix place-save-to-list-btn-no-lists: add messages
  frontend/src/components/place/TopInfoUserListItem.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: bug, frontend

#579 Feature: real time like dislike
  app/Actions/Dislike/DislikeReviewAction.php
  app/Actions/Like/LikeReviewAction.php
  app/Events/Dislike/DislikeAddEvent.php
  app/Events/Like/LikeAddEvent.php
  app/Events/Review/ReviewAttitudeBroadcastEvent.php
  app/Events/Review/ReviewAttitudeSetEvent.php
  app/Listeners/DislikeAddEventListener.php
  app/Listeners/LikeAddEventListener.php
  app/Listeners/Review/ReviewAttitudeSetEventListener.php
  app/Providers/EventServiceProvider.php
  frontend/src/components/review/ReviewList.vue
  frontend/src/store/modules/review/actions.js
  tests/Feature/Api/Like/LikePlaceApiTest.php
Labels: backend, enhancement, frontend

#576 Feature/follow users frontend
  app/Actions/Presenters/User/UserInfoPresenter.php
  app/Actions/User/Follows/FollowUserAction.php
  app/Actions/User/GetUserInfoAction.php
  app/Actions/User/GetUserInfoPresenter.php
  app/Actions/User/GetUserInfoResponse.php
  app/Http/Controllers/Api/User/UserInfoController.php
  app/Repositories/User/Criterias/GetUsersByIdCriteria.php
  app/Repositories/User/Criterias/WithFollowedAndFollowersCriteria.php
  app/Repositories/User/UserRepository.php
  app/Repositories/User/UserRepositoryInterface.php
  frontend/src/components/users/FollowButton.vue
  frontend/src/components/users/GeneralInfo.vue
  frontend/src/components/users/ListsContainer.vue
  frontend/src/components/users/ReviewsContainer.vue
  frontend/src/store/modules/users/actions.js
  frontend/src/store/modules/users/getters.js
  frontend/src/store/modules/users/mutations.js
  frontend/src/store/modules/users/state.js
  routes/api.php
  tests/Feature/Api/UserFollows/UserFollowsTest.php
  tests/Feature/Api/UserInfo/UserInfoApiTest.php
Labels: backend, enhancement, frontend

#584 Feature/api review liked disliked by user
  app/Actions/Presenters/Review/ReviewPresenter.php
  app/Actions/Review/GetLikeStatusForReviews/GetLikeStatusForReviewsAction.php
  app/Actions/Review/GetLikeStatusForReviews/GetLikeStatusForReviewsRequest.php
  app/Actions/Review/GetLikeStatusForReviews/GetLikeStatusForReviewsResponse.php
  app/Http/Controllers/Api/Review/ReviewController.php
  app/Repositories/Dislike/ByReviewsAndUserCriteria.php
  app/Repositories/Like/ByReviewsAndUserCriteria.php
Labels: backend, enhancement

#591 Fix: icon for English
  frontend/src/assets/lang_icons.png
Labels: frontend

#592 Fix/reset password form fixes
  app/Mail/ResetPasswordLinkSent.php
  frontend/src/components/auth/Reset.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
  frontend/src/store/modules/auth/actions.js
  resources/views/emails/resetPassword.blade.php
Labels: bug

#593 Fix/remove complain on other user page
  frontend/src/components/users/GeneralInfo.vue
Labels: bug

#594 Move const from data to computed
  frontend/src/components/place/TopInfoUserListItem.vue
Labels: hotfix

#595 Feature/display followers followed
  frontend/src/assets/user-placeholder.png
  frontend/src/components/users/FollowedContainer.vue
  frontend/src/components/users/FollowersContainer.vue
  frontend/src/components/users/GeneralInfo.vue
  frontend/src/components/users/ListsContainer.vue
  frontend/src/components/users/ReviewsContainer.vue
  frontend/src/components/users/UserList.vue
  frontend/src/components/users/UserListItem.vue
  frontend/src/pages/OtherUserPage.vue
  frontend/src/services/common/pageConstants.js
  frontend/src/store/modules/users/actions.js
  frontend/src/store/modules/users/mutations.js
Labels: enhancement, frontend

#597 like => like_status
  app/Actions/Presenters/Review/ReviewPresenter.php
  app/Actions/Review/GetLikeStatusForReviews/GetLikeStatusForReviewsAction.php
Labels: backend, bug

#598 hotfix/fix-sentry-error-with-likes-review
  frontend/src/store/modules/review/actions.js
Labels: bug, hotfix

#599 Fix/profile refactor
  frontend/src/components/navbar/TopNavbar.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
  frontend/src/router/index.js
  frontend/src/store/modules/auth/state.js
Labels: frontend

#601 Hotfix/search page filters tooltip too slow
  frontend/src/components/place/SearchFilterPlace.vue
Labels: frontend, hotfix

#581 Feature/logs_writing: add logs writing on user lists, add places/reviews, search
  app/Actions/Place/AddPlace/AddPlaceAction.php
  app/Actions/Place/GetPlaceCollectionByFilters/GetPlaceCollectionByFiltersAction.php
  app/Actions/Place/GetPlaceCollectionByFilters/GetPlaceCollectionByFiltersRequest.php
  app/Actions/Review/CreateReviewAction.php
  app/Actions/UserList/DeleteUserListAction.php
  app/Actions/UserList/SaveUserListAction.php
Labels: backend, enhancement

#602 Fix/display followers remarks
  frontend/src/components/users/FollowedContainer.vue
  frontend/src/components/users/Follower.vue
  frontend/src/components/users/FollowersContainer.vue
  frontend/src/components/users/FollowersList.vue
  frontend/src/components/users/GeneralInfo.vue
  frontend/src/components/users/ListsContainer.vue
  frontend/src/components/users/ReviewsContainer.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: frontend

#603 Bug: user recent review
  frontend/src/components/users/ReviewsContainerItem.vue
  storage/debugbar/.gitignore
Labels: bug, frontend

#600 Feature/private profile
  app/Actions/User/GetUserInfoPresenter.php
  app/Actions/User/SaveUserInfoAction.php
  app/Actions/User/SaveUserInfoRequest.php
  app/Actions/User/SaveUserInfoResponse.php
  app/Entities/User/UserInfo.php
  app/Http/Controllers/Api/User/UserInfoController.php
  database/migrations/2018_09_06_093204_add_is_private_to_user_info_table.php
  frontend/src/components/profile/EditProfile.vue
  frontend/src/components/users/PrivateProfile.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
  frontend/src/pages/OtherUserPage.vue
  frontend/src/store/modules/users/actions.js
  frontend/src/store/modules/users/mutations.js
  tests/Feature/Api/UserInfo/UserInfoApiTest.php
Labels: backend, enhancement, frontend

#605 Fix header align
  frontend/src/components/auth/Reset.vue
Labels: bug, frontend, hotfix

#607 add padding to the filters
  frontend/src/components/place/SearchFilterPlace.vue
Labels: bug

#608 userlist-img-url-typeerror: fix store for updating userlist
  frontend/src/store/modules/userList/getters.js
Labels: bug, frontend

#612 Fix/profile page ui
  frontend/src/components/profile/EditProfile.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: bug

#614 Hotfix/fix polygon
  frontend/src/store/modules/place/actions.js
Labels: bug, hotfix

#617 place-long-url-wrapping: fix
  frontend/src/components/place/PlaceSidebarInfo.vue
Labels: bug, frontend

#618 Correct style.
  .gitignore
  frontend/src/components/taste/TasteList.vue
Labels: bug

#606 fix/change-fetch-user-reivews
  app/Actions/Presenters/Review/ReviewPresenter.php
  app/Actions/Review/GetReviewCollectionWithPlaceByUserAction.php
  app/Actions/Review/GetReviewCollectionWithPlaceByUserRequest.php
  app/Actions/Review/GetReviewCollectionWithPlaceByUserResponse.php
  app/Http/Controllers/Api/Review/ReviewController.php
  app/Repositories/Review/Criterias/AddPlaceToReviewCriteria.php
  app/Repositories/Review/Criterias/GetReviewsByUserCriteria.php
  frontend/src/components/users/GeneralInfo.vue
  frontend/src/components/users/ReviewsContainer.vue
  frontend/src/components/users/ReviewsContainerItem.vue
  frontend/src/pages/OtherUserPage.vue
  frontend/src/store/modules/users/actions.js
  frontend/src/store/modules/users/getters.js
  frontend/src/store/modules/users/mutations.js
  frontend/src/store/modules/users/state.js
  routes/api.php
Labels: bug

#622 all items should be aligned by left, modile also
  frontend/src/components/navbar/TopNavbar.vue
Labels: frontend

#623 after enter clicked, search should be performed
  frontend/src/components/navbar/NavbarSearchPanel.vue
  frontend/src/components/navbar/SearchCity.vue
  frontend/src/components/navbar/SearchPlaceCategory.vue
Labels: frontend

#613 Fix/profile settings not show actual info
  frontend/src/components/profile/EditProfile.vue
Labels: bug

#616 Move auth user to response
  app/Actions/User/GetUserInfoAction.php
  app/Actions/User/GetUserInfoPresenter.php
  app/Actions/User/GetUserInfoResponse.php
Labels: hotfix

#619 fix/change-fetch-user-reivews fix mistakes
  app/Actions/Review/GetReviewCollectionWithPlaceByUserAction.php
  app/Actions/Review/GetReviewCollectionWithPlaceByUserRequest.php
  app/Http/Controllers/Api/Review/ReviewController.php
  app/Http/Requests/Review/ReviewSearchRequest.php
  frontend/src/components/users/GeneralInfo.vue
  frontend/src/components/users/ReviewsContainerItem.vue
  frontend/src/store/modules/users/actions.js
  routes/api.php
Labels: bug

#621 remove review
  frontend/src/components/userList/ListPlaceItem.vue
Labels: frontend

#627 [reset password page] change validate text
  frontend/src/components/auth/Reset.vue
Labels: bug

#630 Feature/notifications users looking same place page
  composer.lock
  frontend/src/components/place/PlaceRating.vue
  frontend/src/components/place/PlaceTopInfo.vue
  frontend/src/components/place/UsersListModal.vue
  frontend/src/components/review/ReviewList.vue
  frontend/src/pages/PlacePage.vue
  frontend/src/store/modules/place/mutations.js
  frontend/src/store/modules/place/state.js
  package.json
  resources/assets/js/bootstrap.js
  routes/channels.php
  yarn.lock
Labels: backend, enhancement, frontend

#631 fix/place_page_active_users
  frontend/src/components/place/PlaceTopInfo.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
  frontend/src/pages/PlacePage.vue
  resources/assets/js/bootstrap.js
Labels: bug, frontend

#633 Hotfix/private profile followers
  frontend/src/pages/OtherUserPage.vue
  frontend/src/store/modules/users/mutations.js
Labels: frontend, hotfix

#634 [place page] Review animation fade
  frontend/src/components/review/ReviewListElement.vue
Labels: enhancement, frontend

#635 Fix mobile menu breakpoint
  frontend/src/App.vue
  frontend/src/components/navbar/LanguageSelector.vue
  frontend/src/components/navbar/NavbarSearchPanel.vue
  frontend/src/components/navbar/TopNavbar.vue
  frontend/src/styles/custom-variables.scss
Labels: frontend

#636 Notifications: localize 'no notifications' message
  frontend/src/components/navbar/TopNavbar.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: frontend

#638 place-rating-modal: fix appearance on small screens
  frontend/src/components/place/PlaceRatingModal.vue
Labels: bug, frontend

#639 Correct worktime font.
  frontend/src/components/place/PlaceSidebarInfo.vue
Labels: bug

#640 ReviewStyleFix: img preview fix
  frontend/src/components/review/AddReview.vue
Labels: frontend, hotfix

#641 [place page] current user excluded from modal
  frontend/src/components/place/PlaceTopInfo.vue
  frontend/src/store/modules/place/getters.js
Labels: bug, frontend

#643 ValidateBigFoto: refactor error text
  frontend/src/components/review/AddReview.vue
Labels: frontend, hotfix

#644 Correct style.
  frontend/src/components/place/PlaceSidebarInfo.vue
Labels: bug

#645 Fix custom taste delete
  app/Actions/UserTaste/DeleteTasteAction.php
  app/Actions/UserTaste/GetTastesAction.php
  app/Entities/User/User.php
  app/Repositories/User/Criterias/GetTastesByUserWithCriteria.php
  tests/Feature/Api/UserTaste/TasteTest.php
Labels: backend, bug

#646 Hotfix/markers on empty place
  frontend/src/components/place/SearchPlace.vue
Labels: frontend, hotfix

#647 Fix rating style
  frontend/src/components/place/PlaceRating.vue
Labels: bug, frontend

#648 Hotfix/too many review search queries
  frontend/src/components/review/ReviewList.vue
Labels: frontend, hotfix

#649 LogoIcon: add logo instead of text
  frontend/src/components/navbar/TopNavbar.vue
  public/assets/logo_top.png
Labels: frontend

#650 Sort features.
  frontend/src/components/place/PlaceSidebarInfo.vue
Labels: bug

#651 Fix remarks
  app/Actions/UserTaste/DeleteTasteAction.php
  app/Repositories/User/Criterias/GetTastesByUserWithCriteria.php
  app/Repositories/User/TasteRepository.php
  tests/Feature/Api/UserTaste/TasteTest.php
Labels: hotfix

#652 Feature/save to list fix
  app/Actions/UserList/Places/AttachPlaceAction.php
  app/Actions/UserList/Places/DetachPlaceAction.php
  app/Actions/UserList/Places/DetachPlaceRequest.php
  app/Http/Controllers/Api/User/UserList/UserListPlaceController.php
  app/Http/Requests/UserList/DetachPlaceHttpRequest.php
  app/Policies/UserListPolicy.php
  app/Providers/AuthServiceProvider.php
  app/Repositories/UserList/UserListRepository.php
  app/Repositories/UserList/UserListRepositoryInterface.php
  frontend/src/components/place/TopInfoUserListItem.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
  frontend/src/store/modules/userList/actions.js
  frontend/src/store/modules/userList/mutations.js
  routes/api.php
Labels: backend, enhancement, frontend

#653 FaviconIcon: add favicon
  public/assets/favicon/apple-touch-icon.png
  public/assets/favicon/favicon-16x16.png
  public/assets/favicon/favicon-32x32.png
  resources/views/index.blade.php
Labels: frontend

#654 LogoChange: change main logo
  frontend/src/components/navbar/TopNavbar.vue
  public/assets/logo_top.png
Labels: hotfix

#656 Hotfix/like own review
  app/Actions/Dislike/DislikeReviewAction.php
  app/Actions/Like/LikeReviewAction.php
  app/Exceptions/Review/LikeOwnReviewException.php
  app/Http/Controllers/Api/Like/DislikeController.php
  app/Http/Controllers/Api/Like/LikeController.php
  app/Policies/ReviewPolicy.php
  app/Providers/AuthServiceProvider.php
  frontend/src/components/review/PlacePreviewReviewItem.vue
  frontend/src/components/review/ReviewListElement.vue
  tests/Feature/Api/Dislike/DislikeReviewApiTest.php
  tests/Feature/Api/Like/LikeReviewApiTest.php
Labels: backend, frontend, hotfix

#657 Fix/my lists add cities pills filter
  frontend/src/components/userList/CityPills.vue
  frontend/src/components/userList/ListPreview.vue
  frontend/src/components/userList/ListPreviewItems.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
  frontend/src/store/modules/userList/getters.js
Labels: bug, frontend

#658 [place item page] features should be displayed sorted: first checked …
  frontend/src/components/place/PlaceSidebarInfo.vue
Labels: bug, frontend

#660 Bug: real time review user avatar
  app/Events/Review/ReviewAddEvent.php
Labels: backend, bug

#661 place_tags_features: fix select after reload
  frontend/src/components/place/CategoryTagsContainer.vue
  frontend/src/components/place/PlaceFilterTag.vue
  frontend/src/components/place/SearchPlace.vue
  frontend/src/components/place/SpecialFeaturesFilter.vue
  frontend/src/store/modules/category/actions.js
  frontend/src/store/modules/search/actions.js
  frontend/src/store/modules/search/mutations.js
Labels: bug, frontend

#662 Fix clear notifications
  frontend/src/store/modules/notifications/actions.js
Labels: bug

#663 fix/notifications_not_displayed_when_redirect_from_profile_page: fixed
  frontend/src/components/navbar/TopNavbar.vue
  frontend/src/pages/NotificationsPage.vue
  frontend/src/store/modules/notifications/actions.js
Labels: hotfix

#664 [My lists] Delete modal confirmation.
  frontend/src/components/userList/ListPreview.vue
  frontend/src/components/userList/ListPreviewItems.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: enhancement

#665 Fix/update search fields after page refresh
  frontend/src/components/navbar/SearchCity.vue
  frontend/src/components/navbar/SearchPlaceCategory.vue
  frontend/src/store/modules/category/actions.js
  frontend/src/store/modules/search/actions.js
Labels: bug

#666 DropdownMenuClose: close menu after click on item menu
  frontend/src/components/navbar/TopNavbar.vue
Labels: frontend

#668 Feature/clear btn for category
  frontend/src/components/navbar/SearchPlaceCategory.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: enhancement, frontend

#667 [NavBar] Re-order menu.
  frontend/src/components/navbar/TopNavbar.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: enhancement

#669 MobileLoginPage: remove padding for more usability in page
  frontend/src/components/auth/Container.vue
Labels: frontend

#670 Fix user profile
  frontend/src/store/modules/users/mutations.js
Labels: bug, frontend

#671 [place item page] fix UI with view port width from 1279px to 769px
  frontend/src/components/place/PlaceRating.vue
Labels: bug, frontend

#672 Fix list link in notifications
  frontend/src/components/notifications/FollowedUserAddListNotification.vue
  frontend/src/components/notifications/FollowedUserUpdateListNotification.vue
Labels: bug, frontend

#674 Fix/show user review likes
  frontend/src/components/review/PlacePreviewReviewItem.vue
  frontend/src/components/review/ReviewListElement.vue
  frontend/src/localization/en.json
  frontend/src/localization/ru.json
  frontend/src/localization/ua.json
Labels: bug, frontend

#673 Fix/update search fields after page refresh and load all categories
  frontend/src/components/navbar/SearchPlaceCategory.vue
  frontend/src/store/modules/category/actions.js
  frontend/src/store/modules/category/getters.js
Labels: bug

#676 The user name on the notification page is not leveled with the notification message
  frontend/src/components/notifications/DislikeReviewNotification.vue
  frontend/src/components/notifications/FollowedUserAddListNotification.vue
  frontend/src/components/notifications/FollowedUserAddPlaceNotification.vue
  frontend/src/components/notifications/FollowedUserDeleteListNotification.vue
  frontend/src/components/notifications/FollowedUserReviewNotification.vue
  frontend/src/components/notifications/FollowedUserUpdateListNotification.vue
  frontend/src/components/notifications/LikeReviewNotification.vue
  frontend/src/components/notifications/ReviewPlaceNotification.vue
  frontend/src/components/notifications/UserFollowNotification.vue
  frontend/src/components/notifications/UserUnfollowNotification.vue
Labels: bug, frontend
